</div>
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/js/main.js"></script>
<script src="https://kit.fontawesome.com/61b2047fe3.js" crossorigin="anonymous"></script>
</body>

</html>