<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="http://localhost:3000/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="http://localhost:3000/css/custom.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
    <title>TodoApp-Mongo</title>
</head>

<body>
    <div class="container">
        <header class="text-center">
            <h1 class="app-heading"">MongoDo <span><img src=" http://localhost:3000/assets/logo.png" alt="logo"
                class="rounded-circle" width="50" height="50"></span>
            </h1>

        </header>